

.hamburger{
    width: 50px;
    height: 100%;
    margin: 30px 0px 20px 20px;
    cursor: pointer;
} 
.bar{
    display: block;
    gap: 2px;
    color: lightblue;
    padding-left: 10px;
    border-radius: 4px;
}