
.search{
    border-bottom: 1px solid black ;
    visibility: hidden;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
}
.hamburger{
    width: 50px;
    height: 100%;
    margin: 30px 0px 20px 20px;
    cursor: pointer;
} 
.bar{
    display: block;
    gap: 2px;
    color: lightblue;
    padding-left: 10px;
    border-radius: 4px;
}
.search-icon{
    color: slateblue;
}